.tienda {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    h2{
        font-size: xx-large;
        font-style: oblique;
        font-weight: 700;        
        text-align: center;
    }
    .parrafo {        
        text-align: center;
    }

}

div.enStock {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 2px solid green;
    border-radius: 5px;
    padding: 20px;
}

div.agotado {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 2px solid red;
    border-radius: 5px;
    padding: 20px;
}

p.agotado {
    text-decoration: line-through;
}

.divContadores {
    margin-top: 50px;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
    border-radius: 10px;
}

.divCalculadores {
    margin-top: 50px;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid green;
    border-radius: 10px;
}

