<!DOCTYPE html>
	<html>
	<head>
		<meta charset="UTF-8">
		<title th:text="${titulo}"></title>
	</head>
	<body>
		<h1 th:text="${cabecera}"></h1>	
		
		<form action="">
			<label>TEMATICA: </label>
			<br />
			<ul>
				<li>
					<span>Naturaleza </span>
					<input type="radio" />
				</li>
				<li>
					<span>Matemáticas </span>
					<input type="radio" />
				</li>
				<li>
					<span>Geografía </span>
					<input type="radio" />
				</li>
				<li>
					<span>Historia </span>
					<input type="radio" />
				</li>
			</ul>
		</form>
		
	</body>
</html>